/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
  color: white;
}
.container{
  width: 550px;
  border-radius: 7px;
  background: rgba(20, 20, 20, 0.5);
  border: 1px solid #474747;  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
.container h3{
  font-size: 21px;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
}
.container .content{
  margin: 25px 20px 35px;
}
.content .word{
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  font-weight: 800;
  opacity: 0.75;
  text-transform: uppercase;
}
.content .details{
  margin: 25px 0 20px;
}
.details p{
  font-size: 18px;
  margin-bottom: 10px;
}
.details p b{
  font-weight: 500;
}
.content input{
  width: 100%;
  height: 60px;
  background-color: #bdbdbd3c;
  outline: none;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
  color: white;
  border: 1px solid #454545;
}
.content input:focus{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #a8a8a8;
  }

.content input::placeholder{
  color: #ffffff;
}
.content input:focus::placeholder{
  color: #ffffff;
}
.content .buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.buttons button{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 10px;
  width: calc(100% / 2 - 8px);
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
  background: #ff7300;
}
.buttons button:active{
  transform: scale(0.97);
}
.buttons .refresh-word:hover{
  background: rgba(200, 200, 200, 0.1);
}
.buttons .check-word:hover{
  background: rgba(200, 200, 200, 0.1);
}

.buttons #start-btn{
  position: relative;
  left: 50%; transform: translateX(-50%);
}
.buttons #start-btn:hover{
  background: rgba(200, 200, 200, 0.1);
  }


@media screen and (max-width: 470px) {
  .container h2{
    font-size: 22px;
    padding: 13px 20px;
  }
  .content .word{
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }
  .container .content{
    margin: 20px 20px 30px;
  }
  .details p{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .content input{
    height: 55px;
    font-size: 17px;
  }
  .buttons button{
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
}