*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent;
}
.center{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
}
input[type="text"]{
  width: calc(100% - 6px);
  margin: 0px 2.5px 0px 3.5px;
  height: 60px;
  color: beige;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  border: none;
  border-radius: 8px;
  border:1px solid rgba(241, 241, 241, 0.1176470588);
  background: rgba(241, 241, 241, 0.095);
}
form .buttons{
  margin: 10px;
  margin-left: 0px;
  width: 100%;
  height: 100vh;
}
input[type="button"]{
  width: 24.25%;
  height:14vh;
  margin-bottom: 5.5px;
  font-size: 22px;
  border-radius: 8px;
  color: beige;
  border:1px solid rgba(241, 241, 241, 0.1176470588);
  background: rgba(241, 241, 241, 0.095);
  transition: all 0.3s;
}
input#clear{
  background: rgba(255, 26, 26, 0.5);
  border: 1px solid #cc0000;
  color: white;
}
input#equal{
  width: calc(100% - 6px);
  margin: 0px 2.5px 10px 3.5px;
  margin-top: 5px;
  height: 10vh;
  font-size: 37.5px;
  color: white;
  background: rgb(255, 123, 0);
  border: 1.5px solid white;
}

input[type="button"]:hover, input#clear:hover, input#equal:hover{
  background: rgba(255, 255, 255, 0.15);;
  border:1px solid rgba(241, 241, 241, 0.14);
}
input[type="button"]:active, input#clear:active,  input#equal:active{
  background: rgba(241, 241, 241, 0.1);;
  border:1px solid rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 455px) {
  input[type="button"]{
    width: 23.5%;
  }
}