* {box-sizing: border-box; padding: 0; margin: 0;} 
.sidebar {
    width: calc(100% - 85%);
    position: fixed;
    height: calc( 100% - 1.75rem);
    overflow: auto; z-index: 3;
    padding: 1rem;
    margin: 1rem;
}
  
.sidebar a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}


  .sidebar p {
    color: rgb(255, 227, 168);
    font-weight: 800;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .sidebar p:first-child{margin-top: 0;}
  @media screen and (max-width: 700px) {
    .sidebar {
    margin-top: -10px;
      width: 95%;
      height: auto;
      position: fixed;
    }
    #bgChanger{display: none;}
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar {display: none;}
  }