html,
body {
    background-color: transparent;
    margin: 0;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


::-webkit-scrollbar {
    --scroll: rgb(255 255 255 / 80%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    width: 14px;
    height: 14px;
    border-radius: 7px;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar:vertical:hover {
    background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain
        no-repeat,
      var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat,
      var(--scroll);
  }
  ::-webkit-scrollbar:horizontal:hover {
    background: var(--scrollbar-right-btn) calc(100% - 3px) 0% / contain no-repeat,
      var(--scrollbar-left-btn) calc(0% + 3px) 0% / contain no-repeat,
      var(--scroll);
  }
  ::-webkit-scrollbar-thumb {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 14px;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
  }
  ::-webkit-scrollbar-button:single-button {
    height: 14px;
  }
  :hover::-webkit-scrollbar-thumb {
    display: block;
  }
  ::-webkit-scrollbar,
  ::-webkit-scrollbar {
    --scroll: rgb(44 44 44 / 25%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  }
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
  }  

.notes {
    display: flex;
    height: 100%;
    width: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    background: #221200;
    border: 1px solid #ffffff35;
    flex-shrink: 0;
    transition: all 0.3s;
    padding: 1em;
    width: 325px;
    height: 100%;
    margin-top: 12.5px;
    margin-left: 12.5px;
    border-bottom: 0px;
    border-radius: 6px 6px 0 0 ;
}

.notes__list{
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 7.5rem);
    width: calc(100% + 0.9rem);
}

.notes__list-item {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
    
    border: 1px solid transparent;
    background: rgba(241, 241, 241, 0);
}

.notes__list-item:hover{
background: rgba(241, 241, 241, 0.05);
}

.notes__list-item--selected {
    border: 1px solid #ffffff41;
    background: rgba(241, 241, 241, 0.09);
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.35em;
    font-weight: 700;
    border-bottom: 1px solid #ffffff41;
    opacity: 0.75;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-size: 13px;
    padding-top: 20px;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 37.5px;
    transition: all 0.3s;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
    background-color: transparent;
    padding: 10px;padding-left: 12.5px; padding-top: 0;
    padding-bottom: 12.5px;
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    resize: none;
    background-color: #aaaaaa1c;
    border: 1px solid #cccccc50;
    color: white;
    padding: 10px;
    padding-left: 17.5px;
    width: calc(100% - 2.5px);
    height: calc(100vh - 10em);
    border-radius: 6px;
}


#the-count {
    float: right;
    padding: 5px 10px;
    padding-top: 0px;
    padding-left: 5px;
    opacity: 0.5;
    width: calc(100% + 15px);
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }

.navBtn{
    background-color: #aaaaaa00;
    color: #ccc;
    border: 1px solid #cccccc00;
    padding: 0px 7.5px;
    transition: all 0.3s;
    height: 35px;
    border-radius: 6px;
    display: none;
}

.navBtn span{width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

    h3{
        margin: 0;
        opacity: 0.5;
        margin-bottom: 17.5px;
        font-size: 35px;
    }

.toolbar{
    display: flex;
    gap: 7.5px;
    padding:10px;
    margin: 10px;
    min-width: calc(100vw - 45px);
    height: 40px;
    align-items: center;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc50;
    background-color: rgba(0, 0, 0, 0.5);
}

.hv{
    background-color: #cccccc50;
    width: 2px;
    height: 25px;
    border-radius: 5px;
}

.mobBtn
{
    margin: 0;
    background-color: #aaaaaa00;
    color: #ccc;
    border: 1px solid #cccccc00;
    padding: 0px 10px;
    padding-left: 5px;
    transition: all 0.3s;
    border-radius: 6px;
    min-width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    gap: 5px;
}
#notesAdd{padding-left: 7.5px;}
.mobBtn span{font-size: 20px;}
.mobBtn b, i, u{font-size: 17.5px; margin-right: -5px; padding-top: 1px;}
.mobBtn u{padding-bottom: 4px; padding-top: 0;}
.navBtn:hover, .mobBtn:hover {
    background: rgba(241, 241, 241, 0.09);
    border: 1px solid transparent;
}

.navBtn:active, .mobBtn:active {
    background: rgba(241, 241, 241, 0.03);
    border: 1px solid #ffffff22;
}

@media screen and (max-width: 950px) {
    .notes {
        display: block;}
    .notes__sidebar{
        position: absolute;
        bottom: 0;
        height: calc(100% - 45px);
        pointer-events: none;
        left: -100%;
        z-index: 99;
    }   
    .navBtn{display: block;}
    .notes__title {
        font-size: 1.75em;}
}