*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: transparent;
  }
  .center{
    width: 100%;
    height: 100vh;
    padding: 5px;
  }
  input[type="text"]{
    height: 50px;
    width: 100%;
    color: beige;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(241, 241, 241, 0.095);
  }
  form .buttons{
    margin: 10px;
    margin-left: 0px;
    width: 100%;
    height: 100vh;
  }
  input[type="button"]{
    width: 23.5%;
    height:14vh;
    margin-bottom: 5.5px;
    font-size: 22px;
    border-radius: 8px;
    color: beige;
    border:0.25px solid rgba(241, 241, 241, 0.1176470588);;
    background: rgba(241, 241, 241, 0.095);;
  }
  input[type="button"]:hover{
    transition: all 0.3s;
    background: rgba(241, 241, 241, 0.25);;
  }
  input#clear{
    background: rgba(255, 26, 26, 0.5);
    border: 1px solid #cc0000;
    color: white;
  }
  input#equal{
    width: 98%;
    height: 10vh;
    margin: 5px 0 10px 0;
    font-size: 30px;
    color: white;
    background: rgba(255, 98, 0, 0.5);
    border: 1px solid #b32a00;
  }