/*! ripen.css v0.2 - https://ripenos.github.io/ripen.css | Copyright MIT license RipenOS 2022-23*/
:root{
    --accent-color: rgb(255, 123, 0);
}
html{scroll-behavior: smooth;}
body{
    background: rgb(6,0,65);
    background: radial-gradient(circle, rgb(10, 0, 103) 0%, rgba(0,0,0,1) 100%);
    font-size: 15px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {margin: 0;position: relative; width: 100%; height: max-content; }
main {padding: 1rem}
main.sideBarActive{padding-left:  calc(100% - 82.5%);}
@media screen and (max-width: 570px) {main.sideBarActive{padding-left:  1rem;}}
h1, h2, h3, h4, h6 {letter-spacing: 0.5px;filter: drop-shadow(0px 0px 1px black); margin: 2.5px; margin-left: 0;  line-height: 2.5rem;}
h1.title{
    font-size: 2.5rem;
    background: -webkit-linear-gradient(180deg, var(--accent-color), rgb(255, 200, 0));
	  -webkit-background-clip: text;
	  background-clip: text;
      font-weight: 800;
	  -webkit-text-fill-color: transparent;
      line-height: 3.5rem;
}
h2.subHeader{
    color: rgb(255, 227, 168);
    width: 65%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 227, 168, 0.35);
}
p {font-weight: 550;font-size: 14px; line-height: 1.35rem;}
a {color: orange; font-weight: 700; text-decoration: none; transition: all 0.3s;}
a:hover {color: rgb(255, 145, 0); text-decoration: underline;}
hr{border-bottom: 2px solid var(--accent-color); border-radius: 5px; filter: drop-shadow(0px 0px 1px black); padding: 0px;}
::-webkit-scrollbar {width: 7.5px;}
::-webkit-scrollbar-button {background-color: rgb(22, 14, 7); height: 10px;}
::-webkit-scrollbar-track {background: rgb(22, 14, 7);}
::-webkit-scrollbar-thumb {background: linear-gradient(180deg, rgb(255, 145, 0) 0%, rgba(255, 102, 0, 0.55) 100%);border-radius: 2px;-webkit-transition: all 0.3s; transition: all 0.3s;}
::-webkit-scrollbar-thumb:hover {background: linear-gradient(180deg, orange 0%, rgba(255, 102, 0, 0.75) 100%);border-radius: 50px;}
code {border-radius: 10px; border:  1.75px solid #f1f1f138; overflow: hidden; margin: 15px; margin-left: 0;}
.surface{
    background-color:  rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
    padding: 1rem;
    border-radius: 15px;
    border:  1.75px solid #f1f1f138;
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    color: white;
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    transition: all 0.5s;
}
button:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgba(103, 103, 103, 0.35);
    border: 0.5px solid rgba(241, 241, 241, 0.1647058824);
}
button:active{scale: 0.90;}
.button2 {
	background-color: rgba(124, 124, 124, 0.25); 
    border-radius: 5px; 
	box-shadow: 0px -0.5px 1px rgba(95, 95, 95, 0.5);
    color: white; font-weight:normal;
    transition: all 0.5s;font-size: 13px;
	padding: 7.5px; padding-left: 12.5px; padding-right: 12.5px;
    border: none;
    border-top: 0.25px solid rgba(255, 255, 255, 0.25);
}
.button2:hover{
    background-color: rgba(255, 255, 255, 0.2);
     -webkit-transform: scale(1); transform: scale(1);
     border: none;
     border-top: 0.25px solid rgba(255, 255, 255, 0.25);
}
.button2:active{
    scale: 1;
    -webkit-transform: scale(1); transform: scale(1);
    background-color: rgba(255, 255, 255, 0.05);
}
.button3 {
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.15);
    border-radius: 5px;
    transition: all 0.3s;
    height: 42.5px; font-weight:normal;
    border: 0.25px solid rgba(255, 255, 255, 0.25);
}
.button3:hover {background-color: rgba(255, 255, 255, 0.2); -webkit-transform: scale(1);transform: scale(1); border: 0.25px solid rgba(255, 255, 255, 0.15);} 
.button3:active { border-top: 0.25px solid rgba(255, 255, 255, 0.25);background-color: rgba(255, 255, 255, 0.15); scale: 1;}
.FileInsert{
	background-color: rgba(124, 124, 124, 0.25); border-radius: 5px; 
	box-shadow: 0px -0.5px 1px rgba(95, 95, 95, 0.5);
    color: white;
    cursor: pointer;
	padding: 5px; padding-left: 10px; padding-right: 10px;
    -webkit-backdrop-filter: contrast(70%);
	        backdrop-filter:  contrast(70%); border: none;
    border-right: none;border-left: none;border-bottom: none;
    border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);
}
.FileInsert::-webkit-file-upload-button{
    color: white;
    background-color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    transition: all 0.5s;box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    margin-right: 10px;
    -webkit-backdrop-filter: blur(35px) contrast(200%);
          backdrop-filter: blur(35px) contrast(200%);
}
.FileInsert::-webkit-file-upload-button:hover{
    background-color: rgba(66, 46, 26, 0.75);
    border: 0.5px solid rgba(241, 241, 241, 0.1647058824);
}
.textInput {
    height: 32.5px;
    border:  none;
    border:  0.25px solid #f1f1f11e;
    border-radius: 15px;
    background-color: rgba(241, 241, 241, 0.075);
    font-size: 13.5px;
    color: white;
    text-align: left;
    transition: all 1.3s;
    padding-left: 15px;
}
.textInput.block {
	margin-top: 7.5px;
	border:  0.5px solid #f1f1f12a;
	border-radius: 5px;
	font-size: 13.5px;
}
.textInput.expand{width: 185px;}
.textInput:focus-visible{outline: none;background-color: rgba(241, 241, 241, 0.125);}
.textInput.expand:focus-visible{outline: none; width: 250px; background-color: rgba(241, 241, 241, 0.125);border-radius: 5px;}
.textInput:hover{background-color: rgba(255, 255, 255, 0.175);}
.slider {
	appearance: none;
	-webkit-appearance: none;
	height: 7px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover {opacity: 1;}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;  appearance: none;
    width: 15px; height: 15px;
    border-radius: 50%;
    background: #ff9100;
    border: 3px solid white;
    transition: border 0.05s, scale 0.3s;
    -webkit-scale: 1; scale: 1;
}
.slider::-webkit-slider-thumb:hover {
    border: 2px solid white;
    scale: 1.1;
    background: rgb(255, 166, 0);
}
.slider::-moz-range-thumb {
    width: 25px; height: 25px;
    border-radius: 50%;    
}
.slider2{
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background-color:rgba(181, 181, 181, 0.1);
    border: 1px solid #f1f1f12c;
    border-radius: 8px;
    outline: none;
    opacity: 0.75;
    margin: 0;
    padding: 5px;
    transition: all 0.3s;
}
.slider2:hover {opacity: 1;}
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;  appearance: none;
    width: 15px; height: 15px;
    border-radius: 50%;
    background: #ff9100;
    border: 3px solid white;
    transition: border 0.05s, scale 0.3s;
    -webkit-scale: 1; scale: 1;
}
.slider2::-webkit-slider-thumb:hover {
    border: 2px solid white;
    -webkit-scale: 1.1;    scale: 1.1;
    background: rgb(255, 166, 0);
}
.slider2::-moz-range-thumb{
      -webkit-appearance: none;
      appearance: none;
      width: 17.5px;
      height: 17.5px;
      background: red;
      border-radius: 50%;
      background: #ff6200;
      border: 1px solid #f1f1f12c;
      transition: all 0.3s;
}
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
	margin-right: 7.5px;
	-webkit-transform: translateY(-2px) scale(0.9);
	transform: translateY(-2px) scale(0.9);
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.sliderChecBox {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    border:  0.25px solid #ffffff5a;
    background-color: rgba(255, 255, 255, 0.075);
	-webkit-transition: .4s;
	transition: .4s;
    border-radius: 7.5px;
}
.sliderChecBox:hover{background-color: rgba(255, 255, 255, 0.25); border:  0.25px solid #ffffff30;}
.sliderChecBox:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
    border-radius: 5px;
}
input:checked + .sliderChecBox {background-color: #f38021;border: none;}
input:focus + .sliderChecBox {box-shadow: 0 0 1px #f38021;}
input:checked + .sliderChecBox:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
	bottom: 4px;
}
.sliderChecBox.round {border-radius: 34px;}
.sliderChecBox.round:before {border-radius: 50%;}
iframe { 
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px black); transition: all 0.3s;
}
iframe:hover{
    border-radius: 15px;
    filter: drop-shadow(0px 0px 5px black);
}
.imgHover img{cursor: pointer; transition: all 0.3s; opacity: 0.9; border-radius: 10px;}
.imgHover img:hover{
    -webkit-transform: scale(1.1);
          transform: scale(1.1);
  filter: drop-shadow(0px 0px 2px black);
  cursor: pointer; opacity: 1; border-radius: 15px;
}
.imgHover img:active{-webkit-transform: scale(1);transform: scale(1);}