/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -moz-user-select: none;
     -ms-user-select: none;
     padding: 10px;
         user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
}

.container{
  width: 100%; height: 100%;
  padding: 10px 35px 35px;overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.container.disable .editor-panel,
.container.disable .controls .reset-filter,
.container.disable .controls .save-img{
  opacity: 0.5;
  pointer-events: none;
}

.container .wrapper{
  display: flex;
  margin: 20px 0;
  overflow: hidden; margin-top: 0;
  min-height: 85%;
}
.wrapper .editor-panel{
  padding: 15px 20px;
  width: 280px;
  border-radius: 8px;
  background-color: rgba(152, 152, 152, 0.25);
  border: 1px solid #f1f1f138;
}
.editor-panel .title{
  display: block;
  font-size: 20px;
  font-weight: 750;
  margin-bottom: 12px;
}
.editor-panel .options, .controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-panel button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  background: rgba(241, 241, 241, 0.09);
  border-radius: 5px;
  margin-bottom: 8px;
  transition: all 0.3s;
  overflow: hidden;
  border: 1px solid #f1f1f138;
}
.editor-panel .filter button{
  width: calc(100% / 2 - 4px);
}
.editor-panel button:hover{
  background: #f5f5f55c;
}
.filter button.active{
  color: #fff;
  border-color: #ff9500;
  background: #ff9500;
  font-weight: 600;
}
.filter .slider{
  margin-top: 12px;
}
.filter .slider .filter-info{
  display: flex;
  color: #d9d9d9;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input{
  -moz-appearance: none;
  appearance: none;
-webkit-appearance: none;
width: 100%;
height: 7px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
transition: opacity 0.2s;
}

.filter .slider input:hover{opacity: 1;}

.filter .slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(255, 123, 0);
  border: 3px solid white;
  -webkit-transition: border 0.05s, scale 0.3s;
  transition: border 0.05s, scale 0.3s;
  scale: 1;
}

.filter .slider input::-webkit-slider-thumb:hover {
  border: 2px solid white;
  scale: 1.1;
  }

.editor-panel .rotate{
  margin-top: 17px;
}
.editor-panel .rotate button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 3px);
}
.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4){
  font-size: 18px;
}
.rotate .options button:active{
  color: #fff;
  background: #f0af53;
  border-color: #f0be53;
}
.wrapper .preview-img{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.preview-img img{
  max-width: 1050px;
  max-height: 500px;
  width: 100%;
  height: 100%; 
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid #f1f1f138;
  background-color: #aaaaaa31;
}
.controls button{
  padding: 11px 20px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.controls .reset-filter{
  font-weight: 500;
  border: 1px solid #f1f1f138;
}
.controls .reset-filter:hover{
  background: rgba(241, 241, 241, 0.09);
}
.controls .choose-img{
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #f1f1f138;
  transition: all 0.5s;
}
.controls .choose-img:hover{background: rgba(241, 241, 241, 0.09);}
.controls .save-img{
  margin-left: 5px;
  background: #ff9d00;
  font-weight: 750;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s;
}
.controls .save-img:hover{background: rgba(241, 241, 241, 0.09);}
@media screen and (max-width: 760px) {
  .container{
    padding: 25px;   overflow-x: hidden; overflow-y: scroll;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .preview-img{
    width: 100%;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .controls button{
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row{
    width: 100%;
  }
  .controls .row .save-img{
    margin-left: 0px;
  }
}