body
{
    margin: 0; padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.main
{
    height: 100%;
}

.main-container
{
width:100%;
height: 100%;
}
.header
{
    margin: 10px;
    background-color: rgba(241, 241, 241, 0.1);;
    height: 7%;
    width: 98%;
    padding: 5px 0px;
    border-radius: 8px;
}

.content
{
    background-color: rgba(255, 255, 255, 0.095);
    height: 62%;
    width: 98%;
    margin: 10px;
    border-radius: 8px;
    border-bottom: 1px #141414 dotted;
    overflow: hidden;
}

.options
{
    height: 7%;
    width:100%;
}

::placeholder
{
    color:rgba(255, 255, 255, 0.25);
}
.txtHeader
{
    font-size: 25px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    text-align: center;
    margin: auto;
  display: block;
}

.txtHeader:focus
{
    width: 100%;
    border:none;
    background-color: rgba(241, 241, 241, 0.1);;
    color:#ffffff;
}

.txtContent
{
    height: 100%;
    width: 101%;
    color:#f3f3f3;
    background-color:transparent;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 18px;
    border:none;
    outline: none;
    transition: all 0.1s;
}

.txtContent:focus,.txtContent:hover
{
    border:none !important;
    background-color: rgba(255, 255, 255, 0.095);
}

.options button{
    padding: 10px 20px 10px 20px; 
    background-color: rgba(255, 255, 255, 0.095);
    color:#fff;
    font-size: 15px;
    border-radius:5px;
    border: none;
    border-top: 0.25px solid rgba(255, 255, 255, 0.095);
}
.options button:hover{    background-color: rgba(255, 255, 255, 0.15);}

.btn
{
    padding: 10px 50px 10px 50px; 
    margin-left: 1%;
}

@media screen and (max-width: 815px) {
    .content{
        width: 95%;
    }
    .header{
        width: 95%;
    }

    .options{
        padding-left: 7.5px;
    }

    #edits{
        transform: translateX(-15px);
    }
    
}