
.taskbar {
  overflow: hidden;
  position: fixed;
  bottom: 8px;
	width: 97%; 
  height: 47px;
  left: 1.5%;
  z-index: 101;
  background-color: rgba(22, 22, 22, 0.75);
  -webkit-backdrop-filter: blur(35px) contrast(200%);
	backdrop-filter: blur(35px) contrast(200%);
	color: white;
	border: 0.5px solid #f1f1f123;
	box-shadow: 0px 0px 5px rgb(0, 0, 0);
	border-radius: 15px;
  transition: all 0.3s;
  }

  .taskbarLight {
	overflow: hidden;
	position: fixed;
	bottom: 8px;
	  width: 97%; 
	height: 47px;
	left: 1.5%;
	z-index: 101;
	background-color: rgba(240, 240, 240, 0.15);
	backdrop-filter: blur(35px);
		color: white;
		border: 1px solid rgba(209, 209, 209, 0.329);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
		 border-radius: 15px;
	transition: all 0.3s;
	}

	.taskbarLight img {
		filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.35));
	}
  
  .taskbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    margin: 3px;
    border-radius: 6px;
    transition: all 0.3s;
    vertical-align: middle;
  }
  
  .taskbar a:hover {
    background-color: rgba(100, 100, 100, 0.4);
  }
  
  .taskbar a:active {
    scale: 0.85;

  }

  
.startmenu{
	justify-self: flex-end;
	left: 2.25%;
  	bottom: -665px;
	width: 597px;
	height: 505px;
	padding-bottom: 10px;
	position: absolute;
  	opacity: 0;
  	visibility: hidden;
	transition: all 1s ease-in-out;
	overflow:visible;
	font-size: 14px;
	z-index: 99;
	
}
.startmenu img{
	padding-right: 9px;
	padding-left: 8px;
	padding-bottom: 2.5px;
}

.startmenu p {
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

.startmenu hr {
	border: 0.5px solid #f1f1f12a;
}

.startmenuM {
  position: absolute;
  padding: 5px;
  left: 1.5%;
  bottom: -665px;
  width: 93%;
  height: 82vh;
  background-color: rgba(14, 14, 14, 0.7);
	-webkit-backdrop-filter: blur(35px) contrast(100%);
	backdrop-filter: blur(35px) contrast(100%);
  border: 0.5px solid #f1f1f12a;
	box-shadow: 0px 0px 7.5px rgb(0, 0, 0);
  color: white;
	font-size: 14px;
	z-index: 99;	
	border-radius: 9px;
  opacity: 0;
  visibility: hidden;
	transition: all 1s ease-in-out;
  display: none;
  overflow: scroll;
  overflow-x: hidden;
}

.SpaceFeedM{
	margin: 0; padding: 0; opacity: 0;
}

.DesktopShow {
  display: block;
}


@media (max-width:650px) {
  
  .startmenu {
    display: none;
  }

  .actionmenu {
    display: none;
  }

  .actionmenu2 {
    display: none;
  }
  
  .actionmenu3 {
    display: none;
  }

  .wrapper {
    display: none;
  }

  .startmenuM {
    display: block;
  }

  #SearchInput {
    display: none;
  }

  #SearchInput2 {
    display: none;
  }

  .DesktopShow {
    display: none;
  }
}

.tabmenu{
	justify-self: flex-end;
	position: absolute;
	bottom: -655px;
	left: 29%;
	width: auto;
	max-height: img;
	text-align: center;
	transition: all 0.3s;
	opacity: 0;
  visibility: hidden;
	border-radius: 9px;
	overflow: hidden;
	z-index: 100;	
}
.tabmenu img{
	border-radius: 9px;
}

.tabview {
	display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(50px) ;
	transition: all 0.3s;
}

.desktops{
	display: none;
    position: fixed;
    z-index: 110005;
    padding-top: 110px;
    left: 1%;
    bottom: 65px;
    width: 97.5%;
    height: 75px;
    overflow: hidden;
    background-color: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(25px) contrast(110%);
	border-radius: 17px;
	border: 0.5px solid rgba(158, 158, 158, 0.1);
	transition: all 0.3s;
  overflow-x: scroll;
}

.desktopsL {
	background-color: rgba(240, 240, 240, 0.15);
	-webkit-backdrop-filter: blur(35px);
	backdrop-filter: blur(35px);
	color: white;
	border: 1px solid rgba(209, 209, 209, 0.329);
	box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.55);
}

.desktop1 {
	position:static;
    z-index: 100;
	width: 225px;
    height: 145px;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(15px) contrast(110%); 
	border-radius: 17px;
	border: 1px solid rgba(182, 182, 182, 0.06);
	translate: 20px -90px;
	box-shadow: 0px 0px 3.5px rgb(0, 0, 0);
	
}

.desktop1 p {
	text-decoration: none;
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	padding-top:8px;
	padding-left: 22px;
	float: left;
}

.desktop1 img {
	padding: 10px;
	border-radius: 22px;
}

.desktop2 {
	position: absolute;
    z-index: 100;
	top: 10px;
	width: 250px;
    height: 205px;
    overflow: hidden;
	left: 255px;
	border-radius: 17px;
margin-top: 10px;
}

.desktop2 p {
	text-decoration: none;
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	padding-top:8px;
	padding-left: 1px;
	text-align: left;
}

.desktop2 .newD {
	width: 225px;
    height: 145px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(15px) contrast(110%); 
	border-radius: 17px;
	border: 1px solid rgba(182, 182, 182, 0.06);
	cursor: pointer;
	box-shadow: 0px 0px 3.5px rgb(0, 0, 0);

}

.desktop2 .newD span {
	position: relative;
	top: 38%;
	color: rgb(255, 232, 197);
	font-size: 30px;
}


.actionmenu{
	justify-self: flex-end;
	bottom: -665px;
	right: 2.5%;
	width: 325px;
	height: 100px;

	overflow: hidden;
	position: absolute;
  opacity: 0;
  visibility: hidden;
	transition: all 1s ease-in-out;
	padding: 10px;
	z-index: 99;

  
}

.actionmenu2{
	justify-self: flex-end;
	bottom: -665px;
	right: 2.5%;
	width: 320px;
	height: 450px;

	overflow: hidden;
	justify-self: flex-end;
	position: absolute;
  opacity: 0;
  visibility: hidden;
	transition: all 1s ease-in-out;
	padding: 10px;
	z-index: 99;
}

.actionmenu3{
	bottom: -665px;
	right: 2.5%;
	width: 375px;
	height: 150px;
	overflow: hidden;
	position: absolute;
  opacity: 0;
  visibility: hidden;
	transition: all 1s ease-in-out;
	z-index: 99;

}


  /* Import Google font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

  .wrapper{
	position: absolute;
	width: 450px;
	right: 3%;
	bottom: -665px;
	height: 475px;
	  opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    z-index: 99;
    

  }
  .wrapper header{
	display: flex;
	align-items: center;
	padding: 15px 30px 10px;
	justify-content: space-between;
  }
  header .icons{
	display: flex;
  }
  header .icons span{
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 38px;
	font-size: 1.9rem;
	user-select: none;
	border-radius: 50%;
  }
  .icons span:last-child{
	margin-right: -10px;
  }
  header .icons span:hover{
	background: rgba(0, 0, 0, 0.55);;
  }
  header .current-date{
	font-size: 1.45rem;
	font-weight: 500;
  }
  .calendar{
	 height: 300px; overflow-y: scroll; margin: 15px; margin-top: -15px;
	padding: 20px; background: rgba(0, 0, 0, 0.25); border-radius: 7.5px;  }
  .calendar ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
  }
  .calendar .days{
	margin-bottom: 20px;
  }
  .calendar li{
	color: #acc;
	width: calc(100% / 7);
	font-size: 1.07rem;
	font-weight: bolder;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.35));
  }
  .calendar .weeks li{
	font-weight: 500;
	cursor: default;
  }
  .calendar .days li{
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 30px;
  }
  .days li.inactive{
	color: #aaa;
  }
  .days li.active{
	color: #fff;
  }
  .days li::before{
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
  }
  .days li.active::before{
	background: orange;
  }
  .days li:not(.active):hover::before{
	background: rgba(0, 0, 0, 0.55);
  }
