*{margin: 0;padding: 0;}
:root{
	--accent-color: rgb(255, 123, 0);
	--primary-bg: rgba(14, 14, 14, 0.65);

	/* tab viewed */
	--tb-desk-transform: scale(0.7) translateX(12.5rem);
	
}
body {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	cursor: url('cursor2.svg'), auto;
	background-color: black;
	transition: all 0.3s;
}

body img { -webkit-user-drag: none;}
a { color: white; text-transform: none;cursor: url('cursor2.svg'), auto;}
::selection {background: var(--accent-color);}
h5 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter; letter-spacing: 1.5px;
}

::-webkit-scrollbar {
	--scroll: rgb(255 255 255 / 80%);
	--scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	width: 14px;
	height: 14px;
	border-radius: 7px;
	transition: all 0.3s;
  }
  ::-webkit-scrollbar:vertical:hover {
	background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain
		no-repeat,
	  var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat,
	  var(--scroll);
  }
  ::-webkit-scrollbar:horizontal:hover {
	background: var(--scrollbar-right-btn) calc(100% - 3px) 0% / contain no-repeat,
	  var(--scrollbar-left-btn) calc(0% + 3px) 0% / contain no-repeat,
	  var(--scroll);
  }
  ::-webkit-scrollbar-thumb {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	border: 6px solid transparent;
	border-radius: 14px;
	transition: all 0.3s;
  }
  ::-webkit-scrollbar-thumb:hover {
	border: 4px solid transparent;
  }
  ::-webkit-scrollbar-button:single-button {
	height: 14px;
  }
  :hover::-webkit-scrollbar-thumb {
	display: block;
  }
  ::-webkit-scrollbar,
  ::-webkit-scrollbar {
	--scroll: rgb(44 44 44 / 25%);
	--scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  }
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	background-clip: padding-box;
  }
::-webkit-input-placeholder {color: rgb(216, 216, 216);}
:-ms-input-placeholder {color: rgb(216, 216, 216);}
::placeholder {color: rgb(216, 216, 216);}
.blank {
	background: rgba(0, 0, 0, 0.67);
	-webkit-backdrop-filter: blur(25px) contrast(120%);
	backdrop-filter: blur(25px) contrast(120%);
	width: 100%; height: 100%; ;
	top: 0; left: 0; pointer-events: none; padding: 15px;
	position:absolute; z-index: 1000000000000000000;
	visibility: visible; opacity: 1; font-weight: bold;
	transition: visibility 1.5s, opacity 1.5s ease-out; }

 .blank p{animation: blinkLoad 1.5s infinite; color: var(--accent-color); transition: color 1.25s }

 @keyframes blinkLoad {
	0%{filter: brightness(100%);}
	50%{filter: brightness(80%);}
	100%{filter: brightness(100%);}
 }
.searchT {
    width: 150px;
    height: 30px;
    border:  none;
    border:  1px solid #ffffff30;
    border-radius: 8px;
    background-color: rgba(241, 241, 241, 0.075);
    font-size: 13.5px;
    color: white;
    text-align: left;
    transition: all 1.3s;
}
.searchT:focus-visible{outline: none; background-color: rgba(241, 241, 241, 0.125);border-radius: 10px; border:  1px solid #ffffff35;}
.searchT:hover{background-color: rgba(255, 255, 255, 0.175);}
.searchS {
	width: 92.5%;
	height: 17.5px;
	margin-top: 7.5px;
	border:  0.5px solid #f1f1f12a;
	border-radius: 5px;
	background-color: rgba(10, 10, 10, 0.25);
	padding: 7px;
	padding-left: 27px;
	font-size: 13.5px;
	color: white;
	transition: all 0.3s;
}

.tabS {
	height: 320px;
	overflow: auto;
	width: 100%;
	position: relative;
	overflow-y: scroll; overflow-x: hidden;
	padding-top: 5px;
}
.tabS::-webkit-scrollbar{display: none;}
.tabS:hover::-webkit-scrollbar{display: block;}
#themeSA{padding: 5px; margin-top: 5px; margin-right: -20px;}
.startApps {
	padding: 10px;
	height: 341.5px;
	text-align: justify;
	overflow: hidden;
}
.startApps h3{margin-top: -2px; margin-left: 2px;}
.startApps hr{margin-top: 7.5px; border: 1px solid #f1f1f138;}

#searchAppsStartIco{
	position: absolute;
	left: 0.85rem;
	top: 111.75px;
}
.SearchQ {
	width: 76%;margin-left: -15px; margin-right: 5px; 
	border-right: none;
	border-radius: 4px; 
	border:  0.5px solid #ffffff1f;
	background-color: rgba(255, 255, 255, 0.05); 	
	padding: 5px;
	font-size: 12px; display: inline-block;
	color: white;
	transition: all 0.3s;
}
.searchS:focus-visible{outline: none; background-color: rgba(241, 241, 241, 0.025);}
.searchS:hover{background-color: rgba(241, 241, 241, 0.025);}
 .searchS, .SearchQ:focus-visible{outline: none; }

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
	margin-right: 7.5px;
	-webkit-transform: translateY(-2px) scale(0.9);
	transform: translateY(-2px) scale(0.9);
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	border: 1px solid #ccccccad ;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 7.5px;
}
  
.slider2:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 5px;
}
  
input:checked + .slider2 {background-color: var(--accent-color);border:  1px solid #cccccc23;}
input:focus + .slider2 {box-shadow: 0 0 1px var(--accent-color);}
input:checked + .slider2:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
	bottom: 4px;
}

.popup {
	position: absolute;
	left: 50%;
	top: -25%;
	visibility: hidden;
	width: 490px;
	border-radius: 5px;
	padding: 13px 17px 20px;
	display: flex;
	transform: translateX(-50%);
	transition: all 0.25s ease;
	border-radius: 10px; z-index: 200;
	border: 1px solid #f1f1f138;
	background-color:  rgba(0, 0, 0, 0.65);
	-webkit-backdrop-filter: blur(55px);
	backdrop-filter: blur(55px);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	color: white;
  }
  .popup.show {
	top: 1%;
	visibility: visible;
  }
  
  .popup .icon i {
	width: 40px;
	height: 40px;
	display: flex;
	color: #fff;
	margin-right: 15px;
	font-size: 1.2rem;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	background: #EA4D67;
  }
  .popup.online .icon i {
	background: #2ECC71;
  }
  .popup .title {
	font-size: 1.2rem;
  }
  .popup .desc {
	margin: 3px 0 10px;
	font-size: 1.04rem;
  }
  .popup .reconnect {
	font-weight: 500;
	font-size: 0.95rem;
	padding: 8px 13px;
	color: white;
	background-color: var(--accent-color);
	border-radius: 8px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #ccc;
	cursor: url(cursor2.svg), auto;
	transition: all 0.5s;
  }
  .popup .reconnect:hover{
	background-color: #f1f1f138;
  }
  .popup.online .reconnect {
	pointer-events: none;
  }

  #runSearch::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-left: .75em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    -webkit-filter: drop-shadow(0px 0px 0px black);
    filter: drop-shadow(0px 0px 0px black);
    transition: all 0.3s;
}
#runSearch::-webkit-search-cancel-button:hover{-webkit-filter: drop-shadow(0px 0px 5px black); -webkit-scale: 1.1;filter: drop-shadow(0px 0px 5px black); scale: 1.1;}
#runSearch::-webkit-search-cancel-button:active{-webkit-filter: drop-shadow(0px 0px 7.5px black); -webkit-scale: 1; filter: drop-shadow(0px 0px 7.5px black); scale: 1;}
