/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --accent-color: rgb(255, 123, 0);
  --border: 1px solid #ffffff35;
  --bg: rgba(241, 241, 241, 0.09);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  --scroll: rgb(255 255 255 / 80%);
  --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transition: all 0.3s;
}
::-webkit-scrollbar:vertical:hover {
  background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain
      no-repeat,
    var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat,
    var(--scroll);
}
::-webkit-scrollbar:horizontal:hover {
  background: var(--scrollbar-right-btn) calc(100% - 3px) 0% / contain no-repeat,
    var(--scrollbar-left-btn) calc(0% + 3px) 0% / contain no-repeat,
    var(--scroll);
}
::-webkit-scrollbar-thumb {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 14px;
  transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
}
::-webkit-scrollbar-button:single-button {
  height: 14px;
}
:hover::-webkit-scrollbar-thumb {
  display: block;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
  --scroll: rgb(44 44 44 / 25%);
  --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}
body{
  width: 100%;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  color: white;
  user-select: none;
}
::selection{
  color: #fff;
  background: var(--accent-color);
}
.wrapper{
  width: 100%;
  height: 100%;
  padding: 0px;
}
.task-input{
  height: 52px;
  position: relative;
  padding-left: 5px;
}
.task-input img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input{
  height: 100%;
  width: 100%;
  outline: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 0px;
  background: transparent;
}
.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
}
.task-input input::placeholder{
  color: #bfbfbf;
}
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  margin: 10px;
  margin-top: 0px;  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid #ffffff35;
}
.filters{display: flex;}
.filters span{
  margin: 0 2.5px;
  font-size: 17px;
  border: 1px solid #00000000;
  transition: all 0.3s;
  padding: 7.5px 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 75px;
  text-align: center;
}
.filters span:hover{
  background: var(--bg);
}
.filters span:active{
  border: var(--border);
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  border: var(--border);
  background: var(--bg);
}
.controls .clear-btn{
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 750;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: var(--accent-color);
  border: var(--border);
  transition: all 0.3s;
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:hover{
  border: var(--border);
  background: var(--bg);
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box{
  margin: 12.5px;
  text-align: center;
  margin-top: 17.5px;
}
.task-box.overflow{
  overflow-y: auto;
  max-height: calc(100% - 7.5rem);
}
.task-box.overflow::-webkit-scrollbar{display: none;}
.task-box.overflow:hover::-webkit-scrollbar{display: block;}

.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding: 10px;
  align-items: flex-start;
  border: var(--border);
  background: var(--bg);
  border-radius: 5px;
}
.task-box .task label{
  display: flex;
  align-items: flex-start;
}
.task label input{
  margin-top: 7px;
  accent-color: var(--accent-color);
  border: none;
}
.task label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
}
.task-box span{opacity: 0.5; font-weight: 600;}
.settings :where(i, li){
  cursor: pointer;
}
.settings .task-menu{
  z-index: 10;
  right: 0px;
  bottom: -65px;
  padding: 5px 0;
  border: var(--border);
  background: rgba(125, 125, 125, 0.35);
  border-radius: 5px;
  backdrop-filter: blur(75px);
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin: 2.5px;
  border-radius: 5px;
  padding: 17px 15px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #00000000;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: rgba(255, 255, 255, 0.2);
}
.settings li:active{
  background: rgba(255, 255, 255, 0.1);
  border: var(--border);
}
.settings li i{
  padding-right: 8px;
}

@media (max-width: 431px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
    position: relative;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
    display:block;
  }
  .task-box{
    margin: 0;
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
  .clear-btn{width: 100%; margin-top: 20px;}
}