:root{
  --accent-color: rgb(255, 123, 0);
  --primary-bg: rgba(0, 0, 0, 0.65);
  --primary-border: 1px solid #f1f1f138;
  --primary-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  --secondary-bg: rgba(241, 241, 241, 0.09);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  transition: all 1s;
  cursor: url(cursor.svg), auto;
}
.overlay-read{
  background-color: #ff000044;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999999999;
  pointer-events: none;
  display: none;
}

.overlay-brightness{
  background-color: #000000;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: 99999999999;
  pointer-events: none;
  transition: all 0.5s;
}

#brightness-slider{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

body button {
  color: white;
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  cursor: url(cursor.svg), auto;
  transition: all 0.5s;
}
body img {
  -webkit-user-drag: none;
  -webkit-filter: drop-shadow(0px 0px 1px black);
  filter: drop-shadow(0px 0px 1px black);
}

body p {
  color: white;
  font-weight: 550;
  font-size: 12px;
  -webkit-filter: drop-shadow(0px 0px 1px black);
  filter: drop-shadow(0px 0px 1px black);
}

body h1, body h2, body h3, body h4, body h5, body h6, body a {
  color: white;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
  -webkit-filter: drop-shadow(0px 0px 1px black);
  filter: drop-shadow(0px 0px 1px black);
  cursor: url(cursor.svg), auto;
}

  /* scrollbar */
  ::-webkit-scrollbar {width: 5px;}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 140, 0, 0.55) 0%, rgba(133, 53, 0, 0.55) 100%);
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgba(255, 140, 0, 0.75) 0%, rgba(133, 53, 0, 0.75) 100%);
  border-radius: 50px;
}

.responsive-iframe {
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
width: 25vw;
height: 480px;
border-radius: 7.5px;
background: white;
z-index: 2;
opacity: 0;
}

.slider {
-moz-appearance: none;
     appearance: none;
-webkit-appearance: none;
width: 95%;
height: 7px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
transition: opacity 0.2s;
}

.slider:hover {
opacity: 1;
}

/* Ranger Styling */
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%;
background: var(--accent-color);
border: 3px solid white;
-webkit-transition: border 0.05s, scale 0.3s;
transition: border 0.05s, scale 0.3s;
scale: 1;
}

.slider::-webkit-slider-thumb:hover {
border: 2px solid white;
scale: 1.1;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
}

#DeskIcons{transition: opacity 0.3s;}

.close{
background: red;
height: 8.5px;
width: 85px;
border-radius: 5px;
transition: all 0.3s;
display:inline-block;
}

.close:hover{
height: 13px; -webkit-transform: translateY(2.5px);  transform: translateY(2.5px);
box-shadow: 0px 0px 2px black;
}

.close:active{scale: 1;}

.min{
background:rgba(135, 135, 135, 0.35);
height: 8.5px;
width: 85px;
border-radius: 5px;
transition: all 0.3s;
display:inline-block;
margin-right: 2.5px;
}

.min:hover{
background: greenyellow;
height: 13px; -webkit-transform: translateY(2.5px);  transform: translateY(2.5px);
box-shadow: 0px 0px 2px black;
}

.min:active{scale: 1;}

.max{
background:rgba(135, 135, 135, 0.35);
height: 8.5px;
width: 85px;
border-radius: 5px;
transition: all 0.3s;
display:inline-block;
margin-right: 2.5px;
}

.max:hover{
background: yellow;
height: 13px; -webkit-transform: translateY(2.5px);  transform: translateY(2.5px);
box-shadow: 0px 0px 2px black;
}

.max:active{scale: 1;}
@media screen and (max-width: 550px){
.max{display: none;}
.min{visibility: hidden;}
}

.popup {
  position: absolute;
  left: 50%;
  top: -25%;
  visibility: hidden;
  width: 490px;  
  padding: 13px 17px 20px;
  display: flex;
  transform: translateX(-50%);
  transition: all 0.25s ease;
  border-radius: 10px; 
  border-top-right-radius: 0; border-top-left-radius: 0;
  z-index: 999999999999;
  border: var(--primary-border);
  background-color:  var(--primary-bg);
  -webkit-backdrop-filter: blur(55px);
  backdrop-filter: blur(55px);
  box-shadow: var(--primary-box-shadow);
}
.popup.show {
  top: 0%;
  visibility: visible;
}

.popup .icon i {
  width: 40px;
  height: 40px;
  display: flex;
  color: #fff;
  margin-right: 15px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #EA4D67;
}
.popup.online .icon i {
  background: #2ECC71;
}
.popup .title {
  font-size: 1.2rem;
}
.popup .desc {
  margin: 3px 0 10px;
  font-size: 1.04rem;
}
.popup .reconnect {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 8px 13px;
}
.popup .reconnect:hover{
  background-color: #f1f1f138;
}
.popup.online .reconnect {
  pointer-events: none;
}

@media screen and (max-width: 550px) {
  .popup {
    width: 99%;
    padding: 10px 15px 17px;
  }
}