*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    overflow: hidden;
    background-color: #f1f1f111;
}

.Topbar{
    padding: 10px; margin: 0; overflow: hidden;
    width: 100%;border-top: 1px solid #f1f1f100;
    transition: all 0.3s;
}

.Topbar:hover{border-top: 1px solid #f1f1f137;}

.Topbar span{
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.5s;
}

.Topbar span:hover{
    background-color: #f1f1f123;
}

.Topbar span:active{
    background-color: #f1f1f137;
    scale: 0.9;
}

.Topbar img{
    width: 25px;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.2s;
}

.Topbar img:hover{scale: 1.1;}
.Topbar img:active{scale: 0.90;}
.left-btns{display: inline-block; transform: translateY(2.5px);}
.right-btns{float: right; transform: translateY(2.5px);}
.add-bar{display: inline-block; width: 80%;}
.searchT{
    padding: 10px; transform: translateY(-5px);
    width: 100%;
    color: white;
    background-color: #f1f1f111;
    border: none; border-radius: 5px;
    font-weight: 600; transition: all 0.2s;
}
.searchT:hover{background-color: #f1f1f119;}
iframe{
    position: absolute;
    width: 98.5%;
    height: 80vh;
    left: 50%; transform: translateX(-50%);
    background-color: white;
    border-radius: 8px;
}

@media screen and (max-width: 1500px) {
    .add-bar{width: 75%;}
}

@media screen and (max-width: 1100px) {
    .add-bar{width: 67.5%;}
}

@media screen and (max-width: 815px) {
    .left-btns{display: none;}
    .right-btns{transform: translateY(-2.5px);}
    .add-bar{width: 75%; }

    iframe{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 8px;
    }

}