/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    color: white;
    align-items: center;
  justify-content: center;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    overflow: hidden;}

.wrapper{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 12.5px 20px 0;
}

header p{
  margin-top: 5px;
  color: #aaa;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: 0.1s ease;
}
.form input{
  font-size: 18px;
  padding: 0 23px;
  background: none;
  color: white;
  border: none;
  border-radius: 20px;
  border-top:  0.25px solid rgba(241, 241, 241, 0.221);
  background-color: rgba(241, 241, 241, 0.06);
}
.form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form input::placeholder{
  color: #999;
}
.form button{
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  background: rgb(255, 123, 0);
}

.form button {
  color: white; 
  background-color:rgb(255, 123, 0);
  border-radius: 15px; 
   padding: 10px; 
   cursor: pointer; 
   width: 100%;
   font-size: 16px; font-weight: bold; 
   border: 1px solid #ccc; 
   transition: all 0.5s;
   margin-top: 20px;
  }

  .form button:hover{
    background-color:rgba(66, 66, 66, 0.25);
    border: 1px solid #cccccc49; 
  }

.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}

