*{box-sizing: border-box; margin: 0; padding: 0; scroll-behavior:smooth;}

body {
    height: 100vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s;
    overflow: hidden;
    user-select: none;
    background-image: radial-gradient(#0f1e42, #000000);

}

body img {
    -webkit-user-drag: none;
    -webkit-filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 2px black);
}

body a {text-decoration: none; color: white;}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {border-radius: 5px;background: transparent;}
::-webkit-scrollbar-thumb {
background: linear-gradient(180deg, rgba(255, 140, 0, 0.55) 0%, rgba(133, 53, 0, 0.55) 100%);
border-radius: 2px;
-webkit-transition: all 0.3s;transition: all 0.3s;
}
#Load{transition: all 1.5s;}
.load{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    transition: all 1.5s;
    filter: blur(45px) saturate(125%) brightness(65%);
}

.load-content{
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.5s;
    z-index: 11;
    opacity: 0; width: 100%;
}

.load-content img{width: 12.5em; border-radius: 30px;transition: all 1s; transform: translateY(22.5%);}
.load-content p{font-size: 37.5px;
    background: -webkit-linear-gradient(180deg, rgb(255, 123, 0), orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    margin: 7.5px;
    transition: all 1s;
    opacity: 0;
}
#BInfo{
    transition: all 0.3s;
    color: transparent;
    animation: opacityBoom 1.25s infinite;
}

@keyframes opacityBoom {
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

.spinner {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    transition: all 1s;
    opacity: 0;
}
    
    .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 123, 0);
    opacity: 0.6;
    backdrop-filter: blur(35px);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    }
    
    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    
    @-webkit-keyframes sk-bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
    }
    
    @keyframes sk-bounce {
        0%, 100% { 
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% { 
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }