.actionbarM {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; height: 45px;
  transform: all 0.3s;
}

.ripebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 27vw;
  height: 45px;
  padding: 10px;
  background-color:  rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(55px) contrast(100%);
          backdrop-filter: blur(55px) contrast(100%);
  border-top:  1px solid #f1f1f138;
  border-right:  1px solid #f1f1f138;
  border-top-right-radius: 5px;
  transition: all 0.3s;
  z-index: 202;
  overflow-x: hidden;
  overflow-y: hidden;

}
.ripebar img {
  width: 31px;
  border-radius: 5px;
  transition: all 0.3s;
}
.ripebar img:active {
  scale: 0.75;
}

.StartSearch {
  position: absolute;
  padding-left: 45px;
  padding-top: 15px;
  font-size: 22px;
  width: max-content;
}

.actionbarR {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 27vw;
  height: 45px;
  padding: 10px;
  transition: all 0.3s;
  background-color:  rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(55px) contrast(100%);
          backdrop-filter: blur(55px) contrast(100%);
  border-top:  1px solid #f1f1f138;
  border-left:  1px solid #f1f1f138;
  border-top-left-radius: 5px;
  transition: all 0.3s;
  z-index: 202; overflow: hidden;
}
.actionbarR img {
  width: 25px;
  border-radius: 5px;
  transition: all 0.3s;
}

.controlBtn {
  position: absolute;
  transition: all 0.3s;
  padding: 0;
  border: none;
  right: 15px;
  bottom: 1px;
  width: 90px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 1px;
  z-index: 203;
}

.controlBtn:hover {background-color: rgba(170, 170, 170, 0.25);}

.controlBtn img {
  box-sizing:unset;
  user-select: all;
  width: 27px;
  border-radius: 5px;
  transition: all 0.3s;
}

.controlBtn p{
  font-size: 23px;
}

.controlBtnN {
  position: absolute;
  transition: all 0.3s;
  padding: 0;
  border: none;
  right: 15px;
  bottom: 1px;
  width: 90px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 1px;
  z-index: 203;
}
.controlBtnN:hover {scale: 1.1;}
.controlBtnN:active {scale: 0.90;}

.controlBtnN img {
  box-sizing:unset;
  user-select: all;
  width: 27px;
  border-radius: 5px;
  transition: all 0.3s;
}

.notybutton {
  float: right;
  filter: 0px 0px 7.5px rgb(0, 0, 0);
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  margin-top: 2.5px;
  margin-right: 5px;
}

.tD {
  color: azure;
  text-align: right;
  margin-top: 1px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.tY {
  color: azure;
  text-align: right;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.actionbarC {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 45.5vw;
  height: 45px;
  padding: 10px;
 transition: all 0.3s ease-in-out;
 background-color:  rgba(0, 0, 0, 0.65);
 -webkit-backdrop-filter: blur(55px) contrast(100%);
         backdrop-filter: blur(55px) contrast(100%);
 border-top:  1px solid #f1f1f138;
 border-left:  1px solid #f1f1f138;
 border-right:  1px solid #f1f1f138;
  z-index: 201;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
  overflow-x: hidden;
  overflow-y: hidden;
}
.actionbarC img {
  width: 32px;
  border-radius: 5px;
  margin: -4px;
  margin-left: 1px;
  margin-right: 1px;
  transition: all 0.3s;
}
.actionbarC img:hover {
  transition: all 0.5s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin-left: 10px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}
.actionbarC img:active {
  scale: 0.75;
}

.actionbarC .dockApps {
  position: absolute;
  margin-top: -22.5px;
  transition: all 0.3s;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
  width: max-content;
}

.logo {
  position: absolute;
  bottom: 5px;
  background: none;
  margin-left: 6px;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.3s;
  padding: 0;
  border: none;
}
.logo:hover{scale: 1.1;}

#ControlToggles {
  position: absolute;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  bottom: 47px;
}

.ControlToggle {
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.15);
  width: 8.20vw;
  border-radius: 5px;
  transition: all 0.3s;
  height: 42.5px;
  z-index: 2;
}

.ControlToggle:hover {
  background-color: rgba(240, 240, 240, 0.25);
}

.ControlToggle:active {
  scale: 0.90;
}

.ControlToggle p {
  position:absolute;
  margin-left: 6px;
}

#RipenPanel {
  position: absolute;
  padding-top: 10px;
  top: 5px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

#RipenPanelM {
  position: absolute;
  padding-top: 10px;
  top: 5px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  width: 95%;
  overflow: hidden;
  height: 87.5vh;
}

#AllAppsM{
  position: absolute;
  margin-top: 5%;
  width: 98%;
  left: 0;
}


#CalPanel {
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  width: 98%;
}

#personalizePanel {
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  width: 98%;
}

#wifiPanel {
  position: relative;
  padding-top: 5px;
  padding-left: 10px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0; 
}

.wifibtn{position: absolute; top: 125px; right: 10px;
  background-color: #f1f1f11a; border-radius: 8px; border: none;width: 150px; color: white; font-weight: 700; transition: all 0.3s;}

#audioPanel {
  position: absolute;
  padding-top: 5px;
  top: 5px;
  padding-left: 10px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  width: 27vw;
}

.volimg {
  position: absolute; top: 55px; left: 10px;
   width: 32px;}

.volstgPanel {
  position: absolute; top: 100px; left: 10px;
  display: inline-block; color: #ccc;  cursor: pointer;
}

.volmixer { 
  position: absolute; top: 100px; right: 30px;
  display: inline-block; color: #ccc;  cursor: pointer;
}

#batteryPanel {
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  top: 5px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0; width: 98%;
}


#NotyPanel {
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  width: 98%;
}

#SearchApps {
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  top: 5px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

.AllAppBtnM{  float: left;
  border-radius: 7.5px;  border: none;
  transition: all 0.3s; background: transparent;
  transform: translateY(-7.5px);
}

.AllAppBtnM:hover{background-color: rgba(122, 122, 122, 0.25);}

.sortBtn{
  float: right;
  border-radius: 7.5px;  border: none;
  transition: all 0.3s; background: transparent;
  transform: translate(-25px, -10px);
}

.sortBtn:hover{background-color: rgba(122, 122, 122, 0.25);}
.sortBtn img{width: 22px;}
.sortBtn img:hover{
  transform: scale(1);
  margin-left: 1px; margin-right: 1px;
}

#AllApps {
  padding: 2px; background-color: white;
}

.Appimg {
  padding: 25px;  background-color:transparent; width: 5vw; 
  display: inline-table;   border-radius: 7.5px; margin-bottom: 5px; transition: all 0.2s;
  width: 100px; height: 50px;
}

 .Appimg:hover{background-color: rgba(122, 122, 122, 0.25);}
 .Appimg:active {scale: 0.90;}
 .Appimg img {
  border-radius: 7.5px; width: 35px; margin-bottom: 5px;
}
 .Appimg img:hover {
  -webkit-transform: scale(1); 
          transform: scale(1);
          margin-left: 0px;
          margin-right:0px;
}

 .Appimg p{
  width: 150%; margin-left: -25%;
}

#AllAppsList{
  position: absolute;  overflow-x: hidden;overflow-y: scroll; max-height: 425px; width: 42.5vw; margin-left: -10px; margin-top: 40px; transition: all 0.3s;
}

#AllAppsList li {  display: inline-table;}

.searchT {
  width: 22vw;
  height: 30px;
  border-right: none;
  border-left: none;
  border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.095);
  padding: 10px;
  font-size: 13.5px;
  color: white;
  text-align: left;
  transition: all 0.5s;
  margin-bottom: 1px;
}

.searchTM {
  width: 55vw;
  height: 30px;
  border-right: none;
  border-left: none;
  border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.095);
  padding: 10px;
  font-size: 13.5px;
  color: white;
  text-align: left;
  transition: all 0.5s;
  margin-bottom: 1px;
}

.searchTA {
  width: 40vw;
  height: 35px;
  border-right: none;
  border-left: none;
  border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.095);
  padding: 10px;
  font-size: 13.5px;
  color: white;
  text-align: left;
  transition: all 1.3s;
  position: absolute;
  margin-left: 35px;
  margin-top: -47.5px;
}

.searchTAM {
  width: 100%;
  height: 35px;
  border-right: none;
  border-left: none;
  border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);
  border-bottom: none;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.095);
  padding: 10px;
  font-size: 13.5px;
  color: white;
  text-align: left;
  transition: all 1.3s;
}

.tab {
  float: left;
  width: 42.5px;
  height: 457.5px;
}

.tab .tablinks {
  display: block;
  background-color: inherit;
  color: #ccc;
  padding: 15px;
  width: 40px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin-bottom: 5px;
}

.tab .tablinks:hover {
  background-color: rgba(240, 240, 240, 0.15);
}

.tab .tablinks:active {
  scale: 0.90;
}

.tab .tablinks.active {
  background-color: rgba(240, 240, 240, 0.15);
}

.tabcontent {
  position: absolute;
  height: 445px;
  transform: translateX(0);
  transition: all 0.3s;
  display:inline-block; 
  padding: 5px; top: 15px;
   overflow-y: scroll; 
   overflow-x: hidden;
}

#SearchPanelTB{
  width: 74.5vw;
  height: 500px;
  overflow: hidden; 
}

.vl {
  position: absolute;
  border:0.25px solid rgba(240, 240, 240, 0.15);
  height: 472px;
  top: -4px;
  left: 42.5px;
  transform: translateX(0);
  transition: all 0.3s;
}

.MoreBtn {
	float: right; 
	background-color: rgba(124, 124, 124, 0.25); border-radius: 5px; 
	box-shadow: 0px -0.5px 1px rgba(95, 95, 95, 0.5);
	padding: 5px; padding-left: 10px; padding-right: 10px; padding-top: 0px;
  -webkit-backdrop-filter: contrast(70%);
	        backdrop-filter:  contrast(70%);
}

.shutDownIconR {
  position:absolute;
  left: 7px;
  bottom: 20px;
}

.shutDownIconR img {
  padding: 0;
  width: 17px;
}

.SettingsIconR {
  position:absolute;
  left: 4px;
  bottom: 60px;
}

.SettingsIconR img {width: 24px;}

.folderIconR {
  position:absolute;
  left: 4px;
  bottom: 100px;
}

.folderIconR img {width: 25px;}

.userIconR {
  position:absolute;
  left: 5px;
  bottom: 140px;
}

.userIconR img {width: 22px;}

.RipenPanelHR {
  position:absolute;
  left: -0.75vw;
  bottom: -2px;
  width: 27vw;
  border:0.25px solid rgba(240, 240, 240, 0.15);
}

#defaultOpen {margin-left: -4px;}
#defaultOpen span {margin-left: -7.5px}
#ripenExpandMenuBtn {margin-left: -3px;}
#ripenExpandMenuBtn span {margin-left: -7.5px}

.MenuTxt {
  position: absolute;
  display: inline;
  font-size: 15px;
  top: 20px;
  left: 37.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.MenuTxt2{
  position: absolute;
  display: inline-block;
  font-size: 15px;
  top: 82.5px;
  padding-top: 2.5px;
  padding-left: 12.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.MenuTxt3{
  position: absolute;
  display: inline-block;
  font-size: 13.5px;
  padding-top: 1px;
  padding-left: 7.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}


.MenuTxt4{
  position: absolute;
  display: inline-block;
  font-size: 13.5px;
  padding-top: 2.5px;
  padding-left: 7.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.MenuTxt5{
  position: absolute;
  display: inline-block;
  font-size: 13.5px;
  padding-top: 1px;
  padding-left: 7.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.MenuTxt6{
  position: absolute;
  display: inline-block;
  font-size: 13.5px;
  padding-top: 0px;
  padding-left: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.Theme .DarkThemeBtn { 
  background-color: rgba(241, 241, 241, 0.1);
  border: 0.5px solid rgba(241, 241, 241, 0.05);
  width: 45%;
  margin: 5px;
}
.Theme .LightThemeBtn{
  background-color: rgba(241, 241, 241, 0.1);
  border: 0.5px solid rgba(241, 241, 241, 0.05);
  width: 45%;
  margin: 5px;
}

.Theme .DarkThemeBtn:hover {
  background-color: rgba(241, 241, 241, 0.05);
  border: 0.5px solid rgba(241, 241, 241, 0.103);
  filter: drop-shadow(0px 0px 2px black);
}

.Theme .DarkThemeBtn:active {
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
}

.Theme .LightThemeBtn:hover {
  background-color: rgba(146, 146, 146, 0.25);
  border: 0.5px solid rgba(209, 209, 209, 0.05);
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px black);
}

.Theme .LightThemeBtn:active {
  -webkit-transform: scale(0.90);
          transform: scale(0.90);
}

.Walls{margin: 0;}

.Walls img{
  display: inline;
  width: 45%;
  margin: 5px;
  height: 90px;
}

.walls .InsertBg{ background: rgba(241, 241, 241, 0.09);}

.Walls  #WallIn{
  display: inline;
  color: transparent;
}

.Walls  #WallIn::-webkit-file-upload-button {visibility: hidden;}

.Walls  #WallIn::before {
  content: '';
  color: white;
  display: inline;
  position: absolute;
  margin: 10px;
  right: 0;
  margin-right: 5%;
  top: 385px;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding: 40px 21%;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.Walls  #RipenWaves:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  filter: drop-shadow(0px 0px 2px black);
  cursor: pointer;
}

.Walls  #RipenWaves:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.Walls  #Ventura:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  filter: drop-shadow(0px 0px 2px black);
  cursor: pointer;
}

.Walls  #Ventura:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.Walls  #VenturaDark:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  filter: drop-shadow(0px 0px 2px black);
  cursor: pointer;
}

.Walls  #VenturaDark:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.card1 {
  background: rgba(163, 163, 163, 0.15);
  padding: 12.5px; margin: 5px; width: 20vw;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.card1 .calendar-Today {
  margin-top: 5px; text-decoration: none; box-shadow: none; font-size: 14px;
  background: rgba(161, 135, 115, 0.3); padding: 7.5px; border-radius: 5px; font-weight: 500;
}

.card2{float: left;}
.card3 {
  float: right;
  background: rgba(163, 163, 163, 0.15);
  margin: 5px; height:160px; padding: 5px;width: 9.5vw; padding-bottom: 17.5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}
.card3 h6 {font-size: 12px; margin: 5px;}
.card3 img{width: 24px; padding: 5px; margin-top: -2px; margin-bottom: 3px;}
.card3 img:hover{scale: 1.1}
.card3 .AlbumArtNoMusicPlayed{ padding: 16px; background: rgba(241, 241, 241, 0.1); margin: 5px; border-radius: 5px;
 filter: drop-shadow(0px 0px 0px black);}

 .card3M {
  background: rgba(150, 150, 150, 0.15);
  margin: 5px;padding: 5px;width: 100%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 20px;
}
.card3M h6 {font-size: 12px; margin: 5px;}
.card3M img{width: 25px; padding: 7.5px; margin-top: -2px; margin-bottom: 3px;}
.card3M img:hover{scale: 1.1}
.card3M .AlbumArtNoMusicPlayed{ padding: 16px; background: rgb(143, 143, 143); margin: 5px; border-radius: 5px;
 filter: drop-shadow(0px 0px 0px black);}
#news {padding: 0; margin: 0; position: absolute;  margin-left: -10px; top: 455px;}
#news iframe{width: 21.5vw; }

.StartPinnedW2 {
  position: absolute;
  top: 375px;
  padding: 11px; margin: 0;
  background: rgba(150, 150, 150, 0.15);
  border-radius: 7.5px; 
  width: 20vw;  height: max-content;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.StartPinnedW2 #QNHeader{font-size: 12px;}

.StartPinnedW2 .Savebtn {
  display: inline-block;
  margin-right: -15px;
  margin-bottom: -11px;
  filter: invert(100%);
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  cursor: pointer;
}


.StartPinnedW2M {
  padding: 11px; margin: 0;
  background: rgba(163, 163, 163, 0.15);
  border-radius: 7.5px; margin-top: -40px;
  width: 100%;  height: max-content;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.StartPinnedW2M #QNHeader{font-size: 12px;}

.StartPinnedW2M .Savebtn {
  display: inline-block;
  margin-right: -15px;
  margin-bottom: -11px;
  filter: invert(100%);
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  cursor: pointer;
}

.SearchQ {
  width: 82.5%;
  margin-right: 5px;
  border-right: none;
  border-radius: 4px;
  border-left: 0.25px solid #f1f1f11e;
  border: 0.25px solid #f1f1f11e;
  background-color: rgba(241, 241, 241, 0.05);
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  color: white;
}

.myDIV {
	position: absolute;width: 85px;padding: 7px; transition: all 0.3s;}
 
  .myDIV img, .myDIV p{
	  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));background: transparent; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 13px;
	}

  .myDIV:hover { 	background-color: rgba(107, 107, 107, 0.25);
	  backdrop-filter: blur(15px);
	  -webkit-backdrop-filter: blur(15px);
	  border-radius: 10px;
	  box-shadow: 0px 0px 7.5px rgb(0, 0, 0);
    scale: 1.1;
  }

.myDIV:active {scale: 0.95;}

.application{
  padding: 0; margin:0;
  font-size: 20px;
}

#files{
  display: none;
  visibility: hidden;
  opacity: 0;
  position:absolute;
  width: 80%; height: 70vh;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px; z-index: 200;
  border: 1px solid #f1f1f138;
  overflow: hidden;
  background-color:  rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(55px);
  transition: all 0.3s ease-out;
}

#maxApp{
  position:absolute; display: none;
  width: 100vw; bottom: 0; height: 94vh; margin-bottom: 45px;
}

.application iframe{
  border-radius: 10px;
}

.topbar{
  padding: 10px;
  width: 100%;
  background-color: #f1f1f111;
}

.appControls{
  position:absolute;
  top: -5px; right: 15px;
}

.darktheme {
	background-color: rgba(31, 31, 31, 0.70);
	-webkit-backdrop-filter: blur(55px) contrast(200%);
	  backdrop-filter: blur(55px) contrast(200%);
	  color: white;
	  border: 0.5px solid #f1f1f12a;
	  box-shadow: 0px 0px 7.5px rgb(0, 0, 0);
	  border-radius: 9px;
	  width: inherit;
	  height: inherit;
	  padding: inherit;
	  overflow: inherit;
	  transition: all 0.3s;
}

#Desktop{
  position:absolute;
  width: 100vw; bottom: 0; height: 94vh; margin-bottom: 45px;
}

#context-menu {
	position: fixed;
	z-index: 50;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	transform: scale(0);
	transform-origin: top left;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.75));
	border-radius: 9px;
	backdrop-filter: blur(55px);
}

#context-menu.visible {transform: scale(1); transition: transform 200ms ease-in-out;}

#context-menu .item {
	padding: 8px 10px;
	font-size: 15px;
	color: #eee;
	cursor: pointer;
	border-radius: inherit;
	margin: -1px; margin-bottom: 0;
}

#context-menu .item:hover {
	background-color: inherit;
	color: #ccc;
	border: none; border-radius: 7px;
	cursor: pointer;
	transition: 0.3s;
	color: white;
	background-color: rgba(221, 221, 221, 0.15);
}

  /* Import Google font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

  .CalPanel header{
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
  }
  
  header .icons{position: absolute; top: 5px; right: 20px;}
  header .icons span{
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 38px;
	font-size: 1.9rem;
	user-select: none;
	border-radius: 50%;
  }
  .icons span:last-child{margin-right: -10px;}
  header .icons span:hover{background: #f2f2f2;}
  header .current-date{
	font-size: 1.45rem;
	font-weight: 500;
  }
  .calendar{
  transform: translateX(-10px); height: 325px; overflow-y: scroll;
	padding: 10px; margin: 0;  background: rgba(172, 172, 172, 0.1); border-radius: 7.5px;
  }
  .calendar ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
  }
  .calendar .days{margin-bottom: 20px;}
  .calendar li{
	color: #eee;
	width: calc(100% / 7);
	font-size: 1.07rem;
  transition: all 0.3s;
  }
  .calendar .weeks li{
	font-weight: 500;
	cursor: default;
  }
  .calendar .days li{
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 30px;
  }
  .days li.inactive{color: #aaa;}
  .days li:active{
	color: #fff;
  scale: 0.90;
  }
  .days li::before{
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 7.5px;
	transform: translate(-50%, -50%);
  }
  .days li.active::before{background: rgb(255, 145, 0);}
  .days li:not(.active):hover::before{background: rgba(0, 0, 0, 0.35);}

  .button2 {background-color: rgba(124, 124, 124, 0.25); border-radius: 5px; box-shadow: 0px -0.5px 1px rgba(95, 95, 95, 0.5);color: white; font-weight:normal;transition: all 0.5s;font-size: 13px;padding: 5px; padding-left: 10px; padding-right: 10px;-webkit-backdrop-filter: contrast(70%);backdrop-filter:  contrast(70%); border: none;border-right: none;border-left: none;border-bottom: none;border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);}
  .button2:hover{background-color: rgba(66, 46, 26, 0.75); -webkit-transform: scale(1); transform: scale(1);border: none;border-top: 0.25px solid rgba(241, 241, 241, 0.1176470588);}
  .button2:active{scale: 0.90;}

  .ripebarMobile{
    display: none;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 98%;
    height: 45px;
    padding: 10px;
    background-color:  rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: blur(55px) contrast(100%);
            backdrop-filter: blur(55px) contrast(100%);
    border-top:  1px solid #f1f1f138;
    border-right:  1px solid #f1f1f138;
    border-radius: 5px 5px  0 0;
    transition: all 0.3s;
    z-index: 202;
    overflow-x: hidden;
    overflow-y: hidden;
}

  .ripebarMobile img {
    width: 31px;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .ripebarMobile img:active {scale: 0.75;}

  @media screen and (max-width: 815px) {
    .ripebarMobile{display: block;}
    .ripebar{display: none;}
    .actionbarC{display: none;}
    .actionbarR{display: none;}
    #CalM{margin-right: 30px;}
    #controlButtonBM{display: block;}
  }
  @media screen and (max-width: 550px){#controlButtonBM{display: none;}}
  @media screen and (max-width: 465px) {
    #NotyM{display: none;}
    #CalM{margin-right: -10px;}
  }

.tab2 {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    margin-bottom: -50px;
}

.buttonTab {
  background-color: rgba(221, 221, 221, 0.06);
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #ccc;
  margin: 2px;
  border-radius: 8px;
}

.buttonTab:hover { background-color: rgba(221, 221, 221, 0.1);}

.tab .buttonTab.active {background-color: rgba(100, 100, 100, 0.4);}
