* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-image: url("../Assets/General/RipenWaves2.png");
    background-size: cover;
    height: 100vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    transition: background-image 1s;
}

body button {
    color: white;
    background-color: rgb(255, 123, 0);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    transition: all 0.5s;
}
body img {
    -webkit-user-drag: none;
    filter: drop-shadow(0px 0px 1px black);
}

body p {
    color: white;
    font-weight: 550;
    font-size: 12px;
    filter: drop-shadow(0px 0px 1px black);
}

body h1, body h2, body h3, body h4, body h5, body h6, body a {
    color: white;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
    filter: drop-shadow(0px 0px 1px black);
}

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 5px;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(255, 140, 0, 0.55) 0%, rgba(133, 53, 0, 0.55) 100%);
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(255, 140, 0, 0.75) 0%, rgba(133, 53, 0, 0.75) 100%);
    border-radius: 50px;
  }

.responsive-iframe {
  position: absolute;
  left: 3vw;
  width: 71.5vw;
  height: 480px;
  border-radius: 7.5px;
  z-index: 2;
}

.slider {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 95%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

/* Ranger Styling */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff9100;
  border: 3px solid white;
  cursor: pointer;
  -webkit-transition: border 0.05s, scale 0.3s;
  transition: border 0.05s, scale 0.3s;
  scale: 1;
}

.slider::-webkit-slider-thumb:hover {
  border: 2px solid white;
  scale: 1.1;
  background: rgb(255, 166, 0);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#close{
  background: red;
  height: 5px;
  width: 85px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  display:inline-block;
}

#close:hover{
  scale: 1.1;
  box-shadow: 0px 0px 2px black;
}

#close:active{scale: 1;}

#min{
  background:rgba(135, 135, 135, 0.35);
  height: 5px;
  width: 85px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  display:inline-block;
  margin-right: 2.5px;
}

#min:hover{
  background: greenyellow;
  scale: 1.1;
  box-shadow: 0px 0px 2px black;
}

#min:active{scale: 1;}

#max{
  background:rgba(135, 135, 135, 0.35);
  height: 5px;
  width: 85px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  display:inline-block;
  margin-right: 2.5px;
}

#max:hover{
  background: yellow;
  scale: 1.1;
  box-shadow: 0px 0px 2px black;
}

#max:active{scale: 1;}
